

<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-pad">
    
          <ul class="list-unstyled">
            <li><b>GK Solution.</b></li>
            <li>Plot No. 8 Viswasapuri 1st street,d</li>
            <li>Near Mathi Theatre, KVB Bank</li>
            <li>Madurai- 625016</li>
            <li>Tamilnadu, India</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-pad">
          
          <ul class="">
            
            <li>Customer Satisfaction</li>
            <li>High Quality</li>
            <li>Fair Pricing</li>
            <li>After Delivery Support</li>
        
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-pad">
          <ul class="">
           
          </ul>
        </div> 
      </div>
    	<div class="col-md-3">
    		<h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            
             <li><a href="https://www.instagram.com/gowthala?r=nametag" class="icoInsta" title="Instagram"><i class="fa fa-instagram"></i></a></li><br/>
             <br/>
             <li><img class="footerLogo" style="width:130px;height:70px;" src="assets/imgs/GKLOGO1.jpg"></li>
            </ul>				
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2021 - Company Name.  All rights reserved.</p>
		</div>
	</div>


  </div>
  </div>
</footer>