@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
.index_caption{
    width: auto;
    max-width: 45%;
    height: auto;
    margin-bottom: 140px;
    left: 5%;
    top: 13%;
    text-align: left;
}
/* .banner_text_left{
width: 40%;
border-left: 3px solid #ffbd11;
position: absolute;
padding-left: 5px;
height: auto;
top: 72%;
} */
@media only screen and (max-width:400px) 
{
.close
{
margin-top:-160px;
}
.imgdesign
{
    width: 90% !important;
    height: 260px !important;
    margin-top: 14% !important;
}
.modelscount
{
    margin-left: 48px !important;
}
}
/* .card
{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}
}
.card
{
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
} */
/* .hovview:hover
{
    background-color: #ffbd11 !important;
}*/
/* .imgsize
{
    margin-left:20px;
    margin-top:10px;
} */
.cardhov :hover{
    transform: scale(1.05);
 }


/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}  */


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 300px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}
.dropdown-menu1
{
     /* position: absolute;  */
    /* top: 100%; */
    /* left: 0; */
    z-index: 1000;
    margin-top:80px;
     margin-left: 40px;
    /* display: none; */
    /* float: right; */
    min-width: 10rem;
    /* padding: .5rem 0; */
    /* margin: .125rem 0 0; */
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
}
.modalsec
{
    font-family: 'Gowun Dodum', sans-serif !important; 
}
/* 
.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
} */

.product-details {
    padding: 30px;
}
.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 50px;
    background: #f0f0f0;
}
.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 750;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

/* .product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
} */

/* .product-details h4 a:hover {
    color: #fbb72c;
} */

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}
