
  
  <header class=" font text-center text-white d-flex">
    <app-navbar></app-navbar>
    
    <div class="blog-header post-header container">
      <div class="blog-header__inner row headermargin">
        <div class="col-md-8 col-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class=" imgsizeban d-block w-100" src="http://www.rstechindia.in/images/callcenter.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class=" imgsizeban d-block w-100" src="http://www.rstechindia.in/images/sol_4.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class=" imgsizeban d-block w-100" src="	http://www.rstechindia.in/images/SMB_HiPath3000.ashx.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class=" imgsizeban d-block w-100" src="http://www.rstechindia.in/images/slider6.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
         
        </div>
        <div class="col-md-4 col-12">
          <div class="headercontent" >
          <h2  class=" text-center headcen">
            Welcome to the <b>World</b> of Networks 
          </h2>
          <br><br>
          <h5 class="text-center  headcen blog-post__meta">Connections that make every moment strong!!!</h5>
          <button class="btn btn-dark btn-lg viewbtn" name="add-button">Let's Connect</button>
        </div>
        
        </div>    
      </div>
    </div>
  </header>


  <!--About Us section-->

  <h3 class="text-center" style="margin-top:10%;padding-bottom:6%;">About us</h3>

  <section  id="about" class="section-1">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="pray">
            <img src="http://www.rstechindia.in/images/f_video_conference.png" alt="Pray" class="" />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="panel text-left">
            <h1>Mr. Gowtham</h1>
            <p class="pt-4 ">
    
            </p>
            <p>
              We, GK Solutions Enterprise Communications Pvt. Ltd - the market leader in Tele-Communications solutions,
             Unified Communications infrastructure and services for SME and large enterprises; We provide Voice data
             PBX, IP PBX, ISDN PBX, Network PBX, Group PBX, Hybird systems & KTS with open standards and protocols arm you with flexibility to use it for just making voice calls or a full fledged call center with CTI. Hospitals and hotels can depend upon our highly reliable and extremely efficient hospitality solutions. Integration with the front office software for billing as well as maintenance of room alarms, 
              house keeping and voice mail makes the reception look sleek and hospitable.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section id="services" class="ourproduct">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Our Products</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container ourproduct1">
      <div class="row">
        <div class="col-md-4 col-12">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://www.matrixcomsec.com/images/telecom-banner.webp" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/imgs/SARVAM-UCS-ENT-new.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/imgs/SARVAM-UCS-SME.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
             </a>
          </div>
          
        </div>
        <div class="col-md-8 col-12">

          <div class="productcontent">
            <h1>Telecom</h1>
            <p>
              
            </p>
            <p>
              
              SARVAM UCS SME is future-proof solution offering IP at core with seamless connectivity to all-pervasive legacy and new-generation wireless telecom networks like POTS, ISDN, T1/E1 and GSM/3G. SARVAM UCS SME is a server software which runs on ETERNITY GENX– The next-generation hardware platform. The next-generation platform supports up to 99 VOIP (SIP) trunks, 40 GSM ports, 8 T1/E1 ISDN PRI ports, 32 ISDN BRI ports and 64 analog trunks with up to 999 UC users, 96 digital users and 240 analog users.
               Both AC and DC power supply option are available.</p>
          </div>
        </div>
        
       
      </div>
      <div class="row ourproduct2">
        <div class="col-md-4 col-12">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/imgs/integration-with-payroll.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="	https://www.matrixcomsec.com/images/cost-effective-access-control-time-attendance.webp" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://www.matrixcomsec.com/images/access-control-cosec-argo.webp" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
             </a>
          </div>
          
        </div>
        <div class="col-md-8 col-12">
          <div class="productcontent">
            <h1>Bio-Metric</h1>
            <p>

            </p>
            <p>
              Manual attendance marking and estimation leads to the expenditure of time and cost of the organizations. Human errors, buddy punching and fraudulent time keeping are additional hidden expenses which directly affects the productivity of any organizations. Variation in attendance policies from one company to another makes it extremely challenging to capture time-attendance data and automate them. Therefore, a fully automated time-attendance management software is paramount for enhancing productivity of any organization. 

              Matrix Time-Attendance system is an automated attendance management software which records the attendance data of a user and generates various reports for the further actions. It does not only save administrative cost but also facilitates HR to centrally manage the attendance policies from multiple locations. Automatic calculation of overtime, leave balance, enables managers to work efficiently. Its standalone or network based operation is ideal for Schools, Hospitals, Government Institutes, Banks, Remote Sites, Hotels, Small/Large Enterprises and many more. HR can easily utilize employee attendance management software for employee review, 
              appraisals or monthly salary calculation  
            </p>
          </div>
          
        </div>
       
      </div>
      <div class="row ourproduct2">
        <div class="col-md-4 col-12">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/imgs/uploads_image_20210913_HAC-HFW1509MH-A-LED_thumb.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/imgs/uploads_image_20210928_12-PLW021-01-001_-mic-sd-11-SPK2036-__45Left-logo_2_thumb.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/imgs/HCVR1.png" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
             </a>
          </div>
          
        </div>
        <div class="col-md-8 col-12">

          <div class="productcontent">
            <h1>CCTV</h1>
            <p>
      
            </p>
            <p>
              Dahua Ultra, Pro, and Lite Series network recorders are tailored to fit different applications. Ultra Series recorders offer the best performance and highest quality. Pro Series devices are perfect for mid-large size businesses and projects which require a balance between performance and budget. Lite Series recorders are designed for optimum cost performance with strict Dahua quality standards.

Dahua network recorders are equipped with various video channel capacities and physical sizes to cater to various use cases. Up to 256CH/unit with 4U size is suitable for applications with high recording requirements but without additional IP storage to on save costs, such as in schools, casino, building complexes, etc. 4CH/unit small box recorders are typically used in applications at home or small businesses like retail shops.
            </p>
          </div>
        </div>
        
       
      </div>
    </div>
  </section>

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
<!-- <section class="section-gallery bg-primar ourproduct2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Design Gallery</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
<div class="gallery">
	<div class="gallery__column">
		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/Designs" alt="Portrait by Jessica Felicio" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Jessica Felicio</figcaption>
			</figure>
		</a>

		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/AHBvAIVqk64/300x500" alt="Portrait by Oladimeji Odunsi" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Oladimeji Odunsi</figcaption>
			</figure>
		</a>

		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/VLPLo-GtrIE/300x300" alt="Portrait by Alex Perez" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Alex Perez</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/AR7aumwKr2s/300x300" alt="Portrait by Noah Buscher" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Noah Buscher</figcaption>
			</figure>
		</a>
		
		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/dnL6ZIpht2s/300x300" alt="Portrait by Ivana Cajina" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Ivana Cajina</figcaption>
			</figure>
		</a>

		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/tV_1sC603zA/300x500" alt="Portrait by Sam Burriss" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Sam Burriss</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/Xm9-vA_bhm0/300x500" alt="Portrait by Mari Lezhava" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Mari Lezhava</figcaption>
			</figure>
		</a>
		
		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/NTjSR3zYpsY/300x300" alt="Portrait by Ethan Haddox" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Ethan Haddox</figcaption>
			</figure>
		</a>

		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/2JH8d3ChNec/300x300" alt="Portrait by Amir Geshani" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Amir Geshani</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/FQhLLehm4dk/300x300" alt="Portrait by Guilian Fremaux" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Guilian Fremaux</figcaption>
			</figure>
		</a>

		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/OQd9zONSx7s/300x300" alt="Portrait by Jasmin Chew" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Jasmin Chew</figcaption>
			</figure>
		</a>
		
		<a href="/Designs" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="https://source.unsplash.com/XZkEhowjx8k/300x500" alt="Portrait by Dima DallAcqua" class="gallery__image">
				<figcaption class="gallery__caption">Portrait by Dima DallAcqua</figcaption>
			</figure>
		</a>
	</div>
</div>
  </section> -->
  <!-- <section class="section-4 bg-primar ourproduct2">
    <div class="container text-center">
      <h1 class="text-dark">How it's Made</h1>
      <hr class="my-4">
      <h3>Technology Driven Production</h3>
    </div>
    <div class="team row ">
      <div class="col-md-4 col-12 text-center">
          <div class="cardintab card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img src="http://www.aryabhangy.com/factory/RP8A3622.JPG" class="img-fluid border-radius p-4" alt="">
              </div>
              <div class="card-body">
                <h3 class="card-title">Blalock Jolene</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                  minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                </p>
                
                <p class="text-black-50">CEO at Google</p>
              </div>
            </div>
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="cardintab card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="http://www.aryabhangy.com/factory/RP8A3622.JPG" class="img-fluid border-radius p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Olivia Louis</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
              </p>
              
              <p class="text-black-50">CEO at Google</p>
            </div>
          </div>
    </div>
      <div class="col-md-4 col-12 text-center">
          <div class="cardintab card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img src="http://www.aryabhangy.com/factory/RP8A3622.JPG" class="img-fluid border-radius p-4" alt="">
              </div>
              <div class="card-body">
                <h3 class="card-title">Olivia Louis</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                  minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                </p>
                
                <p class="text-black-50">CEO at Google</p>
              </div>
            </div>
      </div>
    </div>
  </section>

   -->
  <section id="contact" class="contactsec">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Let's Get In Touch!</h2>
          <hr class="my-4">
          <p class="mb-5" style="font-size:17px">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <p><a href="tel:+919791787995">+91-6383080890</a></p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          <p>
            <a href="mailto:ytd1995@gmail.com">gksolution18@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="ourproduct2">
    <div class="container">
      <h1 class="text-center">Contact Us</h1>
    <div class="row ourproduct2">
    <div class="col-lg-8 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d3930.0491725944444!2d78.09985966474169!3d9.929862992899295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e2!4m0!4m3!3m2!1d9.9314874!2d78.0992273!5e0!3m2!1sen!2sin!4v1634624479274!5m2!1sen!2sin" width="100%" height="575" style="border:0;" allowfullscreen="" frameborder="0" loading="lazy"></iframe>   </div>	
      <div class="col-lg-4" style="border-color: #fff;">
    <app-contact-form>

    </app-contact-form>
   
    </div>
  </div>
    </div>
  </section>
  
  <section> 
    <app-footer></app-footer>
  </section>
  

